/* --- import Shared-CSS --- */
@import "_clearfixes";
@import "_theme";

/* --- common css classes --- */
.noanimation { // http://stackoverflow.com/a/16575811
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}