// http://stackoverflow.com/a/16575811
.noanimation {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

body {
    font-family: 'Lato', sans-serif;
    //font-weight: 200;
}
