header#site-header {
    /* --- Keyframes --- */
    @keyframes slide-up {
        to {
            height: 67vh;
        }
    }
    /* --- Styles --- */
    .header-wrapper {
        width: 100%;
        height: 100vh;
        background: secondaryColor;
        display: flex;
        flex-direction: column-reverse;
        animation: 2s ease-in-out 1s forwards slide-up;
        >svg {
            width: 100vw;
            height: auto;
            flex-shrink: 0;
        }
    }
    .header-spacer {
        flex-grow: 1;
        background: black;
        &.header-spacer-top {
            background: black;
            background: linear-gradient(-181deg, black 0%, #041B4B 100%);
        }
    }
    // * {
    //     -webkit-animation: none !important;
    //     -moz-animation: none !important;
    //     -o-animation: none !important;
    //     -ms-animation: none !important;
    //     animation: none !important;
    // }
}
