---
layout: desktop-category
title: News
---

{% if page.category %}
<div id="archives">
    {% for post in site.categories[page.category] %}
      {% unless post.categories contains 'm' %}
        {% include desktop-post-preview.html %}
      {% endunless %}
    {% endfor %}
    {% if site.categories[page.category] == null %}<div class="no-content">In dieser Kategorie gibt es noch keine Beiträge...</div>{% endif %}
</div>

{% else %}
<div id="archives">
    {% for post in site.posts %}
      {% unless post.categories contains 'm' %}
        {% include desktop-post-preview.html %}
      {% endunless %}
    {% endfor %}
    {% if site.posts == null %}<div class="no-content">In dieser Kategorie gibt es noch keine Beiträge...</div>{% endif %}
</div>
{% endif %}